.outline {
  background-color: white;
  text-align: center;
  border: 2px solid #04aa6d;
  margin: 3px 450px;
}

.postTitle-container {
  padding-top: 3em;
  padding-bottom: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bolder;
}

.writer-container,
.subject-container {
  position: relative;
  color: rgb(111, 115, 115);
  font-size: larger;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#writer,
#subject {
  margin-bottom: 2em;
  width: 120px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  background-color: rgb(189, 190, 190);
  position: relative;
}

#addUnit {
  width: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(252, 252, 252);
  margin-bottom: 1em;
  border: none;
  text-decoration: #04aa6d underline;
}

#subject-select {
  background-color: white;
}
#add-btn {
  border: none;
  padding: 0.5em;
}
#remove-btn {
  border: none;
  padding: 0.5em;
}

.sub-btn-border {
  border-top: 3px solid #04aa6d;
  margin-top: 7rem;
  background-color: #d6ddda;
}
#btnSubmit {
  margin-top: 2rem;
  margin-bottom: 2em;
  background-color: #04aa6d;
  border: none;
  border-radius: 20%;
  color: white;
  font-size: large;
  font-weight: 600;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

#submitted-result {
  background-color: beige;
}
